/* some css reset */
html{
	height: 100%;
}
body{
	height: 100%;
	min-width: 320px;
	background: url(/images/home-bg.jpg) no-repeat;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	font-family: "microsoft yahei", "STHeiti", "Arial", sans-serif;
}
button{
	border: none;
	background: transparent;
}
button:focus{
	outline: none;
}
a{
	color: #333;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
.sm-row{
	display: table;
}
.sm-col{
	display: table-cell;
}
/* set bootstrap's components to be have a hand style */
.nav, .pagination, .carousel, .panel-title a{
	cursor: pointer;
}
/* rewrite bootstrap's modal overflow-y stle to be auto */
.modal{
	overflow: auto;
}
.modal-vm .modal-dialog{
	margin: auto;
	height: 100%;
	padding: 10px;
}
/* used for vertical align middle */
div.table{
	display: table;
}
div.table-row{
	display: table-row;
}
div.table-cell{
	display: table-cell;
}
/* set partials view container's height to let the view have full height for some middle style */
#main-view{
	height: 100%;
}
/* layout navigation bar style */
#home-nav{
	/*background: #000;*/
	background: #e6e6e6;
}
.navbar-mid,.navbar-left{
	float: left;
}
.navbar-left{
	width: 40%;
}
.navbar-mid{
	width: 20%;
	position: static;
	text-align: center;
}
.navbar-right{
	width: 40%;
	float: right;
	text-align: right;
}
.navbar-right,.navbar-mid,.navbar-left{
	height: 50px;
	padding:13px;
}
.navbar-left > a,.navbar-right > a{
	height: 24px;
	margin-left: 25px;
}
.navbar-left > a:first-child,.navbar-right > a:first-child{
	margin-left: 0;
}
#home-nav > div > a,#home-nav > div > button{
	height: 24px;
	font-size: 22px;
	color: #15aca7;
	display: inline-block;
	/*background: url(/images/home-nav-icon.png) no-repeat;
	background-size: 25px;*/
}
#home-nav > div > button{
	padding: 0;
}
/*#home-nav > div a.userinfo{
	background-position: 0 -39px;
}
#home-nav > div a.goback{
	background-position: 0 -120px;
}
#home-nav > div a.refresh{
	background-position: 0 -160px;
}
#home-nav > div > button{
	border:none;
	background-position: 0 -80px;
}*/
#home-nav .dropup-menu{
	width: 100%;
	margin: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	z-index: 1000;
	display: none;
	position: absolute;
	padding: 0 0 15px 0;
	background: rgba(0, 0, 0, 0.5);
}
.open > .dropup-menu{
	display: block !important;
}
#home-nav .dropup-menu li{
	margin-top: 15px;
	float: left;
	line-height: 1.5;
	border-right: 1px solid #fff;
	list-style: none;
	width: 33.33333333333333%;
}
#home-nav .dropup-menu li:nth-child(3n),#home-nav .dropup-menu li:last-child{
	border-right:none;
}
#home-nav .dropup-menu li a{
	color: #fff;
	text-decoration: none;
}