body{
	background: #90150d;
}
header.title{
	height: 40px;
	position: relative;
	background: #631e17;
}
header .wrap-jf{
	right: 5px;
	color: #671e17;
	min-width: 45px;
	padding: 5px;
	text-align: center;
	position: absolute;
	background: url(/images/lottery/top-jf-bg.png) no-repeat;
	background-size: 100% 100%;
}
header .wrap-jf span{
	display: block;
	font-size: 0.6em;
}