section.wrap-type .row{
	margin: 10px 0 0;
}
section.wrap-type .row:first-child{
	margin: 0;
}
section.wrap-type .row > div{
	padding: 0;
}
section.wrap-type .row div:first-child .item{
	margin: 0 5px 0 0;
}
section.wrap-type .row div .item{
	margin: 0 0 0 5px;
}
section.wrap-type .row .item .info{
	padding: 5px;
	overflow: hidden;
	line-height: 1.2;
	white-space: nowrap;
	background: #e5e5e5;
	text-overflow:ellipsis;
	border-top: 1px solid #c9c9c9;
}
section.wrap-type .row .item .info span{
	color: #fd4323;
	display: block;
}