/* 页面公用样式 */
body{
	background: #f0f0f0;
}
nav.h-nav-list{
	font-size: 1.6em;
	line-height: 1;
	padding: 4px 0;
	background: #e5e5e5;
	text-align: center;
	white-space: nowrap;
	box-shadow: 0 1px 2px #cbcbcb;
}
.h-nav-list .glyphicon-search,.h-nav-list .glyphicon-align-justify{
	margin-right: 15%;
}
.h-nav-list .left,.h-nav-list .right{
	width: 30%;
	padding: 6px 0;
}
.h-nav-list a{
	color: #333;
	cursor: pointer;
	text-decoration: none;
}
.h-nav-list .left{
	float: left;
	position: relative;
	box-shadow: 1px 0 #cbcbcb;
	border-right: 1px solid #fff;
}
.h-nav-list .mid{
	width: 40%;
	float: left;
	padding: 6px 0;
}
.h-nav-list .right{
	float: right;
	box-shadow: -1px 0 #fff;
	border-left: 1px solid #cbcbcb;
}
/* modal nav list style */
.modal-dialog{
	margin: 0;
}
.modal-content{
	width: 50%;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: #f0f0f0;
}
.modal-backdrop,.modal-dialog{
	margin-top: 44px;
}
#drop-navlist {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	position: relative;
}
#drop-navlist li{
	border-bottom:1px solid #fff;
}
#drop-navlist li:last-child{
	border: none;
}
#drop-navlist li:last-child a{
	border: none;
}
#drop-navlist li a{
	display: block;
	color: #656565;
	padding: 0 10px;
	line-height: 2.8;
	text-decoration: none;
	border-bottom: 1px solid #cbcbcb;
}
/* 公用商品展示更多样式 */
.product-list div.more{
	margin-top: 15px;
	padding: 6px 15px;
	border-top: 1px solid #c9c9c9;
}
.product-list div.more a{
	float: right;
	color: #808080;
	position: relative;
	padding-right: 10px;
	text-decoration: none;
}
.product-list div.more a:after{
	top: 6px;
	right: 0;
	width: 8px;
	height: 8px;
	content: '';
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	position: absolute;
	border: solid #666666;
	border-width: 1px 1px 0 0;
}
/* 公用商品类型分割样式 */
.product-list{
	margin: 48px auto 70px;
}
.product-list .item{
	box-shadow: 0 0 2px #a7a7a7;
}
/* 公用商品类型标题样式 */
.product-list .title{
	font-size: 1em;
}