<div class="title">
	<img alt="幸运大转盘" class="img-responsive" src="images/lottery/wheel-title.png"  />
</div>
<div class="wrap-wheel">
	<img id="wheel-bg" class="img-responsive" src="/images/lottery/wheel-bg.jpg" />
	<canvas id="wheel" ng-init="loadResource()"></canvas>
	<div class="start">
		<button></button>
	</div>
</div>
<div class="container">
	<div class="wrap-rule">
		<p class="title">活动规则</p>
		<div class="info">
			<p>此大转盘有效期：</p>
			<p>2014.3.01-2014.3.11</p>
			<p>玩一次只需要100积分，苹果5S等你来拿。机不可失，失不再来，亲们开抢啦！</p>
		</div>
	</div>
</div>