<div class="container order-list">
	<div class="item clearfix">
		<img src="images/test/01.jpg" />
		<div class="info">
			<h6>床上用品四件套纯棉四件套全棉清仓床品四件套</h6>
			<div class="brief-order">
				<span class="pay-price">实付款：￥99</span>
				<span>共2件</span>
				<span class="status text-danger">交易关闭</span>
			</div>
		</div>
	</div>
	<div class="item clearfix">
		<img src="images/test/01.jpg" />
		<div class="info">
			<h6>床上用品四件套纯棉四件套全棉清仓床品四件套</h6>
			<div class="brief-order">
				<span class="pay-price">实付款：￥99</span>
				<span>共2件</span>
				<span class="status text-success">交易成功</span>
			</div>
		</div>
		<hr />
		<div class="operation">
			<button class="btn btn-warning">确认收货</button>
			<button class="btn btn-info">查看物流</button>
		</div>
	</div>
</div>

<!--<div class="container order-list">
	<div class="item clearfix">
		<img src="images/test/01.jpg" />
		<div class="info">
			<h6>床上用品四件套纯棉四件套全棉清仓床品四件套</h6>
			<div class="brief-order">
				<span class="pay-price">实付款：￥99</span>
				<span>共2件</span>
				<span class="status text-danger">交易关闭</span>
			</div>
		</div>
		<hr />
		<div class="operation">
			<button class="btn btn-warning">付款</button>
			<button class="btn btn-info">取消</button>
		</div>
	</div>
	<div class="item clearfix">
		<img src="images/test/01.jpg" />
		<div class="info">
			<h6>床上用品四件套纯棉四件套全棉清仓床品四件套</h6>
			<div class="brief-order">
				<span class="pay-price">实付款：￥99</span>
				<span>共2件</span>
				<span class="status text-success">交易成功</span>
			</div>
		</div>
		<hr />
		<div class="operation">
			<button class="btn btn-warning">付款</button>
			<button class="btn btn-info">取消</button>
		</div>
	</div>
</div>-->