<header class="wrap-u">
	<h5 class="title">◎我的推荐人</h5>
	<div class="u-info clearfix">
		<img class="img-circle" src="http://img1.touxiang.cn/uploads/20120428/28-022030_432.jpg" />
		<div class="info">
			<p><span class="glyphicon glyphicon-user"></span>寒梅梅</P>
			<p><span class="glyphicon glyphicon-phone"></span><a href="tel:15622894800">15622894800</a></p>
		</div>
	</div>
</header>
<div class="container">
	<h5>◎我的推荐人</h5>
	<div class="u-info clearfix">
		<img class="img-circle" src="http://img1.touxiang.cn/uploads/20120428/28-022030_432.jpg" />
		<div class="info">
			<p><span class="glyphicon glyphicon-user"></span>寒梅梅</P>
			<p><span class="glyphicon glyphicon-phone"></span>15622894800</p>
		</div>
	</div>
	<div class="u-info clearfix">
		<img class="img-circle" src="http://img1.touxiang.cn/uploads/20120428/28-022030_432.jpg" />
		<div class="info">
			<p><span class="glyphicon glyphicon-user"></span>寒梅梅</P>
			<p><span class="glyphicon glyphicon-phone"></span>15622894800</p>
		</div>
	</div>
	<div class="u-info clearfix">
		<img class="img-circle" src="http://img1.touxiang.cn/uploads/20120428/28-022030_432.jpg" />
		<div class="info">
			<p><span class="glyphicon glyphicon-user"></span>寒梅梅</P>
			<p><span class="glyphicon glyphicon-phone"></span>15622894800</p>
		</div>
	</div>
	<div class="u-info clearfix">
		<img class="img-circle" src="http://img1.touxiang.cn/uploads/20120428/28-022030_432.jpg" />
		<div class="info">
			<p><span class="glyphicon glyphicon-user"></span>寒梅梅</P>
			<p><span class="glyphicon glyphicon-phone"></span>15622894800</p>
		</div>
	</div>	
</div>