<nav class="h-nav-list clearfix navbar-fixed-top">
	<div class="left">
		<span class="glyphicon glyphicon-align-justify" ng-click="dropNav()"></span>
		<a class="glyphicon glyphicon-user"></a>
	</div>
	<div class="mid">
		<img src="images/market-logo.png" width="60" />
	</div>
	<div class="right">
		<a class="glyphicon glyphicon-search"></a>
		<a class="glyphicon glyphicon-shopping-cart"></a>
	</div>
</nav>
<div ui-view></div>
<script type="text/ng-template" id="marketDropMenu.html">
	<ul id="drop-navlist" ng-init="listType()">
		<li ng-click="dropNav()"><a>◎ 全部商品</a></li>
		<li ng-click="dropNav()" ng-repeat="type in types"><a href="#/market/goods/{{type.id}}">◎ {{type.name}}</a></li>
	</ul>
</script>