div.title{
	margin: 10px 40px 0 60px;
}
div.title .img-responsive{
	margin: auto;
}
#wrap-wheel{
	margin: auto;
	padding: 0 15px;
	min-width: 290px;
	max-width: 830px;
	max-height: 795px;
	position: relative;
}
div.container{
	margin-top: 15px;
	padding: 0 45px 20px;
}
.container .wrap-rule{
	color: #fff;
}
.container .wrap-rule p{
	margin: 0;
}
.container .wrap-rule .info{
	margin-top: 5px;
	font-size: 0.9em;
}
.container .wrap-rule .info .prize-rate{
	color: #fcb42e;
}
.container .wrap-rule .title{
	color: #fcb42e;
	font-size: 1.1em;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px solid #fcb42e;
}
.container .wrap-tabs{
	color: #fff;
	margin-top: 10px;
}
.container .wrap-tabs a{
	color: #fff;
}
#model-ctx{
	padding: 20px;
	text-align: center;
}
#model-ctx #msg{
	color: #272724;
	font-size: 1.1em;
	margin-bottom: 40px;
}
#model-ctx .btn{
	color: #ffffff;
	padding: 8px 20px;
	background: #ea5709;
}
.wheel-result .modal-content{
	top: 50%;
	width: 100%;
	margin-top: -80px;
}