/* used for user module common css */
body{
	background: #f2f2f2;
}

/* login state css */
#wrap-login{
	top: 0;
	left: 15px;
	right: 15px;
	height: 184px;
	bottom: 0;
	margin: auto;
	position: absolute;
}
#wrap-login form input{
	height: 42px;
	padding: 0 15px 0;
}
#wrap-login form .form-group > .wrap-uname,#wrap-login form .form-group > .wrap-upwd{
	position: relative;
}
#wrap-login form .form-group > .wrap-uname:after,#wrap-login form .form-group > .wrap-upwd:after{
	top: 5px;
	right: 5px;
	content: '';
	width: 26px;
	height: 30px;
	position: absolute;
	background: url(/images/input-icon.png) no-repeat;
	background-size: 220px;
}
#wrap-login form .form-group > .wrap-upwd:after{
	background-position: -38px 0;
}
#wrap-login form button{
	color: #fff;
	padding: 10px;
	font-weight: bold;
	border-radius: 4px;
	background: #44bf17;
	box-shadow: 0px 0px 1px #338f11;
}